extends layout

block content
  .content-wrap.group
      section#main-content
        h1  Game Rules
        article.posts.group
          div
            p
              | Welcome to Battle of the Bacteria, a spin-off of the traditional snake. This is a game designed to simplistically simulate the dynamic and ongoing warfare between bacteria and white blood cells within the human bloodstream.
            h2.heading Gameplay
            p
              | Enter the microscopic world within our bloodstream and take control of your very own bacterial colony (black) just as it is ready to spread and grow. Defeat as many white blood cells (white circles) as you can in order to get bigger and faster. For every white blood cell, you defeat, your length increases by one and for every five white blood cells you defeat, your speed increases.
            h2.heading Aim
            p
              | Simply grow your bacterial colony by destroying as many white blood cells as you can before you die!
            h2.heading Death
            p There are two main ways your bacterial colony can die
            ol
              li You self-destruct i.e. if your head touches any part of your body
              li
                | You are destroyed trying to leave the bloodstream i.e. you hit border of the game
            h2.heading Useful Hints
            p
              | Take your time, if it’s too hard or too tight a turn to reach a certain white blood cell, loop around and try eat it from an easier direction and/or angle
            h2.heading Future Updates
            p
              | That’s right, improvements and updates are on their way. Here’s what you can expect in the next update 
              a(href='/references#14') [14]
            ol#discs
              li Squashing some bugs
              li User accounts and login in features
              li Leader boards for various features such as high scores
              li Personalised player progress
              li Comment section
              li Multiplayer game modes
              li Live online chats
              li In game notification progress