extend layout

block content
	.content-wrap.group
		section#main-content
			h1  Page Authors
			article.author.group
					.person
						blockquote
							p I am rarely happier than when spending entire day programming my computer to perform automatically a task that it would otherwise take me a good ten seconds to do by hand
							cite Douglas Noel Adams (11 March 1952 – 11 May 2001)
						img(src='images/Author1.png', alt='')
						.person.info   
							h3 Tyler Smith
							divi.label
								| Company:
							div.labelInfo
								| The University of Western Australia     
							divi.label
								| Occupation:
							div.labelInfo
								| Student
							divi.label
								| Primary Degree:
							div.labelInfo
								| Engineering     
							divi.label
								| Secondary Degree:
							div.labelInfo
								| Data Science 
							divi.label
								| Future Job Ambitions:
							div.labelInfo
								| Electronic engineer or IT
							divi.label
								| Website Involvment:
							div.labelInfo
								| CITS3403 AGile Web Development



					.person
						img(src='/images/Author2.png', alt='')
						.person.info   
							h3 Daniel Cocks
							divi.label
								| Company:
							div.labelInfo
								| The University of Western Australia     
							divi.label
								| Occupation:
							div.labelInfo
								| Student
							divi.label
								| Primary Degree:
							div.labelInfo
								| Computer Science     
							divi.label
								| Secondary Degree:
							div.labelInfo
								| N/A 
							divi.label
								| Future Job Ambitions:
							div.labelInfo
								| Web developer
							divi.label
								| Website Involvment:
							div.labelInfo
								| CITS3403 AGile Web Development
