extends layout

block content
  .content-wrap.group
      section#main-content
        h1  References
        article.posts.group
          div
            // Same id's used to keep maintanability of page
            h2.headingRef  HTML
            br
            h3.subheading Banner
            ol(start='1')
              li#1
                | "Free Banner Templates at Size of 728x90 - Banner Maker | Fotor.com", Banner.fotor.com, 2013. [Online]. Available: http://banner.fotor.com/banner-maker/all-728x90. [Accessed: 21- Apr- 2016].
            h2.headingRef Snake Gameplay
            br
            h3.subheading Audio -Sounds and implementation
            ol(start='2')
              li#2
                | K. Agarwal, "Classic Snake Game with HTML5 Canvas | CSSDeck", Cssdeck.com. [Online]. Available: http://cssdeck.com/labs/classic-snake-game-with-html5-canvas. [Accessed: 20- Apr- 2016].
            h3.subheading Rendering/loading canvas
            ol(start='3')
              li#3
                | T. Johnstone, "HTML5 Canvas not working in external JavaScript file", Stackoverflow.com, 2013. [Online]. Available: http://stackoverflow.com/questions/11349613/html5-canvas-not-working-in-external-javascript-file?answertab=votes#tab-top. [Accessed: 21- Apr- 2016].
            h3.subheading Disable arrow key scrolling in game webpage
            ol(start='4')
              li#4
                | Zeta, "Disable arrow key scrolling in user’s browser", Stackoverflow.com, 2015. [Online]. Available: http://stackoverflow.com/questions/8916620/disable-arrow-key-scrolling-in-users-browser. [Accessed: 21- Apr- 2016].
            h3.subheading Click Event Listener
            ol(start='5')
              li#5
                | "How do I add a simple onClick event handler to a canvas element?", Stackoverflow.com, 2012. [Online]. Available: http://stackoverflow.com/questions/9880279/how-do-i-add-a-simple-onclick-event-handler-to-a-canvas-element. [Accessed: 19- Apr- 2016].
              li#6
                | "Edit fiddle - JSFiddle", Jsfiddle.net, 2012. [Online]. Available: http://jsfiddle.net/BmeKr/. [Accessed: 19- Apr- 2016].
            h3.subheading Canvas Centred Text
            ol(start='7')
              li#7
                | C. Bennage, "Building a Game With JavaScript: Start Screen - DZone Web Dev", dzone.com, 2013. [Online]. Available: https://dzone.com/articles/building-game-javascript-start. [Accessed: 17- Apr- 2016].
            h3.subheading Arrow Images
            ol(start='8')
              li#8
                | "120+ Best Free Glyph Icons (Vector, PSD, PNG)", Designscrazed. [Online]. Available: http://designscrazed.org/free-glyph-icons/. [Accessed: 22- Apr- 2016].
              li#9
                | J. Hallam, "Load image from url and draw to HTML5 Canvas", Stackoverflow.com, 2015. [Online]. Available: http://stackoverflow.com/questions/29572560/load-image-from-url-and-draw-to-html5-canvas. [Accessed: 22- Apr- 2016].
            h3.subheading Increasing Game Speed
            ol(start='10')
              li#10
                | D. Markov, "Making Your First HTML5 Game With Phaser | Tutorialzine", Tutorialzine, 2015. [Online]. Available: http://tutorialzine.com/2015/06/making-your-first-html5-game-with-phaser/. [Accessed: 18- Apr- 2016].
            h2.headingRef Colours
            br
            h3.subheading All
            ol(start='11')
              li#11
                | "HTML Color Picker", W3schools.com. [Online]. Available: http://www.w3schools.com/colors/colors_picker.asp. [Accessed: Apr- 2016].
            h2.headingRef Javascript
            br
            h3.subheading Dynamic Navigation bar - setActive:
            ol(start='12')
              li#12
                | CSS Newbies, "Intelligent Navigation Bars with JavaScript and CSS", Cssnewbie.com, 2008. [Online]. Available: http://www.cssnewbie.com/intelligent-navigation/. [Accessed: 21- Apr- 2016].
            h3.subheading Footer Date - lastModified:
            ol(start='13')
              li#13
                | karthikr, "lastModified() function returns current date and time", Stackoverflow.com, 2013. [Online]. Available: http://stackoverflow.com/questions/16024346/lastmodified-function-returns-current-date-and-time. [Accessed: 19- Apr- 2016].
            h2.headingRef Web Content
            br
            h3.subheading Game Update
            ol(start='14')
              li#14
                | T. French, "CITS3403 Agile Web Development School of Computer Science and Software Engineering, The University of Western Australia", Teaching.csse.uwa.edu.au, 2016. [Online]. Available: http://teaching.csse.uwa.edu.au/units/CITS3403/index.php?fname=projects&project=yes. [Accessed: 22- Apr- 2016].
            h3.subheading Bacteria Research
            ol(start='15')
              li#15
                | L. Mikesh, "What Are Bacteria?", LiveScience.com, 2015. [Online]. Available: http://www.livescience.com/51641-bacteria.html. [Accessed: 22- Apr- 2016].
            ol(start='16')
              li#16
                | "Infection of the body by bacteria", Primer.crohn.ie. [Online]. Available: http://primer.crohn.ie/infection-of-the-body-by-bacteria. [Accessed: 22- Apr- 2016].
